execfile("{{ovp_tmpdir}}/was_import/wasadminlib.py")

AdminTask.setJVMProperties('[-nodeName SBT-OPBIB-213CellManager01 -serverName dmgr -verboseModeClass false -verboseModeGarbageCollection false -verboseModeJNI false -maximumHeapSize 512 -runHProf false -hprofArguments -debugMode false -debugArgs "-Djava.compiler=NONE -Xdebug -Xnoagent -Xrunjdwp:transport=dt_socket,server=y,suspend=n,address=7792" -executableJarFileName -genericJvmArguments -disableJIT false]')
